CompileFlags:
  CompilationDatabase: build/
  Add: [-std=c++20]

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - modernize-*
      - performance-*
      - readability-redundant-*
      - readability-const-return-type
    Remove:
      - modernize-use-trailing-return-type
      - bugprone-easily-swappable-parameters

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: true

Hover:
  ShowAKA: true