Checks: >
  bugprone-*,
  modernize-*,
  performance-*,
  cppcoreguidelines-*,
  readability-redundant-*,
  readability-const-return-type,
  -modernize-use-trailing-return-type,
  -bugprone-easily-swappable-parameters
